# Byte-compiled files
*.pyc

# Databases, especially sqlite
.cache
*.db
*.sqlite

# Configuration files containing potentially sensitive data (such as database user names and passwords)
config_mine.py

# Logging
logs/
*.log

# IDE stuff
*.idea
.ipynb_checkpoints/

# Distribution stuff
build/
dist/
MANIFEST

# Data
*.json
