# Byte-conpiled files
*.pyc

# Databases, especially sqlite
*.db
*.sqlite

# Configuration files containing potentially sensitive data (such as database user names and passwords)
config_mine.py

# Logging
logs/
*.log

# IDE stuff
*.idea
.ipynb_checkpoints/

# Distribution stuff
dist/
MANIFEST
