# Byte-compiled files
*.pyc

# Databases, especially sqlite
.cache
*.db
*.sqlite

# Logging
logs/
*.log

# IDE stuff
*.idea
.ipynb_checkpoints/

# Distribution stuff
build/
dist/
MANIFEST

# Data
*.json
