# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
dateutil=2.4.1=py27_0
libxml2=2.9.2=0
libxslt=1.1.28=0
lxml=3.5.0=py27_0
openssl=1.0.2e=0
pip=8.0.1=py27_0
psycopg2=2.6.1=py27_0
python=2.7.11=0
readline=6.2=2
requests=2.9.1=py27_0
setuptools=19.4=py27_0
six=1.10.0=py27_0
sqlalchemy=1.0.11=py27_0
sqlite=3.9.2=0
tk=8.5.18=0
wheel=0.26.0=py27_1
zlib=1.2.8=0
